<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        
       <header>
            <h2>Welcome!</h2>
       </header> 

       <section clas class="icon gradient-custom">
            <div class="form-div">
                <form action="/add-task/" method="post" class="form">
                    <div class="form-outline">
                        <i class="fa fa-tasks icon" aria-hidden="true"></i>
                        <input type="text" name="task" id="task" required>
                        <label for="task">New Task....</label>
                    </div>
                    <div class="form-outline">
                        <div class="select">
                            <select name="work_type" id="work_type">
                                <option value="work">Work</option>
                                <option value="home">Home</option>
                                <option value="personal">Personal</option>
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="btn">Add Task</button>
                </form>
            </div>
            <div class="task-div">
                <div class="tabs">
                    <div class="tab-table">
                        <input type="radio" id="tab-1" name="tab-tabs" checked>
                        <label for="tab-1">Pending</label>
                        <div class="tab-content">
                            <ul class="list">
                                <% let count = 0;
                                for(let i of list_data){
                                    if(!i.completed){
                                        count++; %>
                                        <li class="list-item">
                                            <div class="done">
                                                <form action="/update-task/" method="POST">
                                                    <input type="hidden" value="<%=i.id%>" name="id">
                                                    <input type="checkbox" onChange="this.form.submit()">
                                                </form>
                                            </div>
                                            <div class="task-name"><p><%=i.task_name%></p></div>
                                            <div class="task-type"><p><%=i.task_type%></p></div>
                                            <div class="icons">
                                                <form action="delete-task" method="post">
                                                    <input type="hidden" value="<%=i.id%>" name="id">
                                                    <button type="submit">
                                                        <img src="/img/trash-red.svg" alt="">
                                                    </button>
                                                </form>
                                            </div>
                                        </li>
                                    <%}
                                }%>
                            </ul>
                            <% if(count == 0){%>
                                <div class="empty">
                                    <p>Hurray you have no pending work</p>
                                    <p>Let's add some &#128517;</p>
                                </div>
                            <%}%>

                        </div>
                    </div>
            
                    <div class="tab-table">
                        <input type="radio" id="tab-2" name="tab-tabs">
                        <label for="tab-2">Completed</label>
                        <div class="tab-content">
                            <% if(list_data.length == 0){ %>
                                <div class="empty">
                                    <p>OOPS, You have not completed anything today</p>
                                    <p>Go and work mate &#128517;</p>
                                </div>
                            <%}
                            else{ %>
                            <ul class="list">
                                <% for(let i of list_data){
                                    if(i.completed){%>
                                        <li class="list-item">
                                            <div class="done">
                                                <input type="checkbox" checked disabled>
                                            </div>
                                            <div class="task-name"><p class="line-through"><%=i.task_name%></p></div>
                                            <div class="task-type"><p class="line-through"><%=i.task_type%></p></div>
                                            <div class="icons">
                                                <form action="delete-task" method="post">
                                                    <input type="hidden" value="<%=i.id%>" name="id">
                                                    <button type="submit">
                                                        <img src="/img/trash-red.svg" alt="">
                                                    </button>
                                                </form>
                                            </div>
                                        </li>
                                    <%}
                                }%>
                            </ul>  
                            <%}%>  
                        </div>
                    </div>
            
                    <div class="tab-table">
                        <input type="radio" id="tab-3" name="tab-tabs">
                        <label for="tab-3">All</label>
                        <div class="tab-content">
                            <% if(list_data.length == 0){ %>
                                <div class="empty">
                                    <p>Seems like nothing here</p>
                                    <p>Let's add some! &#128517;</p>
                                </div>
                            <%}
                            else{ %>
                            <ul class="list">
                                <% for(let i of list_data){%>
                                    <li class="list-item">
                                        <% if(i.completed){%>
                                            <div class="done"><input type="checkbox" disabled checked></div>
                                            <div class="task-name line-through"><p><%=i.task_name%></p></div>
                                            <div class="task-type line-through"><p><%=i.task_type%></p></div>
                                            <div class="icons">
                                                <form action="delete-task" method="post">
                                                    <input type="hidden" value="<%=i.id%>" name="id">
                                                    <button type="submit">
                                                        <img src="/img/trash-red.svg" alt="">
                                                    </button>
                                                </form>
                                            </div>
                                        <%} 
                                        else{ %>
                                            <div class="done">
                                                <form action="update-task" method="POST">
                                                    <input type="hidden" name="id" value="<%=i.id%>">
                                                    <input type="checkbox" onChange="this.form.submit()">
                                                </form>
                                            </div>
                                            <div class="task-name"><p><%=i.task_name%></p></div>
                                            <div class="task-type"><p><%=i.task_type%></p></div>
                                            <div class="icons">
                                                <form action="delete-task" method="post">
                                                    <input type="hidden" value="<%=i.id%>" name="id">
                                                    <button type="submit">
                                                        <img src="/img/trash-red.svg" alt="">
                                                    </button>
                                                </form>
                                            </div>
                                        <%}%>
                                    </li>
                                <%}%>
                            </ul>
                            <%}%>
                        </div>
                    </div>
             
            </div>
       </section>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js" integrity="sha512-fD9DI5bZwQxOi7MhYWnnNPlvXdp/2Pj3XSTRrFs5FQa4mizyGLnJcN6tuvUS6LbmgN1ut+XGSABKvjN0H6Aoow==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="js/script.js"></script>
</body>
</html>